/* style.css */

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  @font-face {
    font-family: 'Gallaudet Regular';
    src: url('GallaudetRegular.woff') format('woff'); /* Ensure this path is correct */
  }
  /* Body styling */
  body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: brightness(50%);
  }
  
  /* Container for content */
  .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Header */
  h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  /* Textarea styling */
  textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styling */
  .button-style {
    background-color: #C1272D;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-style:hover {
    background-color: #A32427;
  }
  
  #outputSign {
    font-family: 'Gallaudet Regular';
    font-weight: normal;
    background-color: #FFF;
    color: #000;
    font-size: 10vh;
    padding: 2vh;
    border-radius: 10px;
    margin-top: 2vh;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 40vh;
    width: 90vw;
  }
  
  #clearButton {
    background-color: #D3D3D3;
    color: #333;
  }
  
  #clearButton:hover {
    background-color: #C0C0C0;
  }
  
  /* Accessibility focus styling */
  button:focus, textarea:focus {
    outline: 2px solid #C1272D;
    outline-offset: 2px;
  }
  /* Input field for YouTube URL */
  input[type="text"] {
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }